* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: #d6ddeb; 
}

.logo {
  cursor: pointer;
}

.cta,
.overlay__content a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  color: #012;
  text-decoration: none;
}


.cta {
  padding: 9px 35px;
  margin-left: 650px;
  margin-right: 20px;
  background-color: #f7f7f7;
  border: none;
  border: solid #d6ddeb;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
  font-weight: bold;
}

.cta:hover {
  background-color:#ffff ;
  border: 2px solid rgb(96, 134, 172);
  color: rgb(96, 134, 172);
}

.abc,
.overlay__content a {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-weight: 500;
  color: #012;
  text-decoration: none;
}


.abc {
  padding: 9px 25px;
  margin-left: 680px;
  background-color: #f7f7f7;
  border: none;
  border: solid #d6ddeb;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
  font-weight: bold;
}

.abc:hover {
  background-color:#ffff ;
  border: 2px solid rgb(96, 134, 172);
  color: rgb(96, 134, 172);
}

.title-second{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  margin-top: 4%;
  margin-bottom: 4%;
  margin-left: 45%;
  font-size: 150%;
}

  .linguagens{
    color: #012;
    position: absolute;
    margin-left: 77%; 
    display:inline-block;
    margin-bottom: 50%;
    text-decoration: none;
    padding: 200px 45px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 25px;
    background-color: #f7f7f7;
    border: none;
    border: solid #d6ddeb;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
  }
  
  .linguagens:hover {
    background-color:#ffff ;
    border: 2px solid rgb(96, 134, 172);
    color: rgb(96, 134, 172);}

    .exatas{
      color: #012;
      position: absolute;
      margin-right: 50%;
      margin-left: 52% ;
      display:inline-block;
      margin-bottom: 50%;
      text-decoration: none;
      padding: 200px 70px;
      font-family: 'Open Sans', sans-serif;
      font-weight: bold;
      font-size: 25px;
      background-color: #f7f7f7;
      border: none;
      border: solid #d6ddeb;
      cursor: pointer;
      transition: background-color 0.3s ease 0s;
    }
    
    .exatas:hover {
      background-color:#ffff ;
      border: 2px solid rgb(96, 134, 172);
      color: rgb(96, 134, 172);}

    .humanas{
      color: #012;
      position: absolute;   
      margin-left: 3%;
      display:inline-block;
      margin-bottom: 50%;
      text-decoration: none;
      padding: 200px 60px;
      text-align: center;
      font-family: 'Open Sans', sans-serif;
      font-weight: bold;
      font-size: 25px;
      background-color: #f7f7f7;
      border: none;
      border: solid #d6ddeb;
      cursor: pointer;
      transition: background-color 0.3s ease 0s;
      }
      
    .humanas:hover {
        background-color:#ffff ;
        border: 2px solid rgb(96, 134, 172);
        color: rgb(96, 134, 172);}

    .biologicas{
        color: #012;
        position: absolute;
        margin-left: 27%;
        position: absolute;
        display:inline-block;
        margin-bottom: 50%;
        text-decoration: none;
        padding: 200px 50px;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: 25px;
        background-color: #f7f7f7;
        border: none;
        border: solid #d6ddeb;
        cursor: pointer;
        transition: background-color 0.3s ease 0s;
          }
          
      .biologicas:hover {
          background-color:#ffff ;
          border: 2px solid rgb(96, 134, 172);
          color: rgb(96, 134, 172);}
        

